.app{
	background: #091f43;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;

}
.card{
	background-color: white;
	max-width: 400px;
	min-width: 375px;
	border-radius: 8px;
	box-shadow: 0px 0px 40px;
}

header{
	font-size: 20px;
	color: #091f43;
	padding: 16px;
	border-bottom: 1px solid #ccc;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: solid;

}
input{
	width: 100%;
	text-align: center;
	padding: 16px;
	height: 55px;
	outline: none;
	font-size: 24px;
	border-radius: 8px;
	border: 2px solid #ccc;
}

button{
	width: 100%;
	background-color: #ed2144;
	height: 55px;
	border: none;
	outline: none;
	font-size: 24px;
	border-radius: 8px;
	color: white;
}