:host(){
	--yellow:#f9ba49;
	--dark-blue : #0c2451;
	--font-16: 16px;
	--font-24: 24px;
	--font-12:12px;
}

.Currency-app{
	background: url(/sfsites/c/resource/currencyConverterAssets/currencyConverterAssets/currencyAppBackground.png);
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 100vh;
}

.container{
	color : black;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	padding: var(--font-16);
}

.custom-card{
	max-width: 520px;
	background: var(--dark-blue);
	border-radius: 25px;
	min-width: 370px;
	padding: 16px;
}

.custom-button, .custom-button:hover, .custom-button:active{
	background:var(--yellow);
	color: #0c2451;
	padding: var(--font-12);
	font-size: var(--font-24);
	margin-top: var(--font-12);
}

.baseline{
	align-items: baseline ;
}

.custom-image{
	display: block;
	margin: auto;
}

.custom-icon{
	--slds-c-icon-color-background : var(--yellow);
	--slds-c-icon-color-foreground : var(--dark-blue); /*Not working*/
	transform: rotate(45deg);
}

.result{
	font-size: var(--font-24);
	margin-bottom: var(--font-24);
	font-weight: bold;
	color:#1b96ff;	
}

.result-to{
	color: #fb8500;
}